# Ignore everything by default
/*

# Allow only these
!/nvim/
!/.gitignore
!/hypr/
!/kitty/
!/waybar/
!/fontconfig/
!/mimeapps.list

# VSCodium: only settings + keybindings, nothing else
!/VSCodium/
/VSCodium/*
!/VSCodium/User/
/VSCodium/User/*
!/VSCodium/User/settings.json
!/VSCodium/User/keybindings.json
